---
import '@fontsource-variable/yanone-kaffeesatz'
import ContactInfo from '../ContactInfo.astro'
import './base.css'

type Props = { title: string; description?: string; noindex?: boolean }
const { title, description, noindex } = Astro.props

const currentPath = Astro.url.pathname
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />

    {noindex && <meta name="robots" content="noindex" />}
    {description && <meta name="description" content={description} />}

    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper vcard curved curved-hz drop-shadow">
      <article>
        <slot />
      </article>

      {
        currentPath !== '/impressum' && (
          <div class="contact">
            <ContactInfo />
            <p>
              <a href="/impressum" class="imprint-link">
                Impressum
              </a>
            </p>
          </div>
        )
      }
    </div>
  </body>
</html>
