---
import LogoSvg from '../assets/farbenfroh-logo.svg'
import Container from './Container.astro'
---

<header class="relative isolate z-50 flex flex-none flex-col pt-8">
  <Container className="w-full">
    <div class="relative flex gap-4">
      <div class="flex flex-1">
        <LogoSvg class="max-h-28 flex-none object-cover" />
      </div>
    </div>
  </Container>
</header>
