---
---

<p>
  <span class="tag">Packaging</span>,
  <span class="tag">Corporate & Grafik Design</span>
  <br />
  <a class="tel" href="tel:+49-30-67966653"
    ><span class="achtelgeviert">030</span><span class="achtelgeviert">.</span
    ><span class="achtelgeviert">679</span
    ><span class="achtelgeviert">666</span>53</a
  >
  <span class="bull">&bull;</span>
  <a class="email" href="mailto:m@marensiegel.de" title="Hallo :-)"
    >m@marensiegel.de</a
  >
  <span class="bull">&bull;</span>
  <span class="city">Berlin</span>
  <!--<a rel="me" href="http://www.xing.com/hp/TODO/">XING</a>-->
</p>
