---
import { Picture } from 'astro:assets'
import PngLogo from '../components_maren/assets/maren-siegel-logo.png'
---

<h1 class="n fn logo" title="Senior Berater, Konzepter">
  <Picture
    src={PngLogo}
    width="500"
    height="373"
    densities={[1.5, 2]}
    alt="Maren Siegel Diplom Designerin"
  />
  <span class="given-name">Maren</span>
  <span class="family-name">Siegel</span>
</h1>
