<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta http-equiv="cleartype" content="on">

  {% if page.meta_robots %}<meta name="robots" content="{{ page.meta_robots }}">{% endif %}
  <meta name="description" content="{{ site.description }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% include webfonts.html %}
  {% include styles.html %}
  {% include google_analytics.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

<div class="wrapper vcard drop-shadow curved curved-hz">

  <h1 class="n fn logo" title="Senior Berater, Konzepter">
    <img src="/maren-siegel-logo.png" width="500" height="373" alt="Maren Siegel Diplom Designerin" />
    <span class="given-name">Maren</span> <span class="family-name">Siegel</span>
  </h1>

  {{ content }}

  <div class="contact">
    {% include contact_info.html %}
    <p>
      <a href="#imprint" class="imprint-link" onclick="$('.imprint-text').show();$('.imprint-link').hide();">Impressum</a>
    </p>

  </div>

  <div class="imprint">
    <div class="imprint-text" style="display:none;">
      {% capture imprint_content %}{% include imprint.md %}{% endcapture %}
      {{ imprint_content | markdownify }}
    </div>
  </div>

</div>

</body>
</html>
